@import '../styles/colors.scss';

.container-fluid {
  height: 100%;
}

.row.header-segment {
    margin-top: 100px;
    height: 1000px;

    .type-segment {
      padding-top: 5rem;
      display: inline;
      width: 50%;
      text-align: left;
      h2 {
        font-weight: bold;
      }
    }

    .page-segment {

      .web-border-top
      {
        text-align: right;
        img {
          width: 75%;
        }
      }
      .splash-screen
      {
        text-align: right;
        img {
          width:75%;
        }
      }
      .web-border-bottom
      {
        text-align: right;
        img {
          width: 75%;
        }
      }
    }
  }
