@import '../styles/colors.scss';

.container-fluid {
  height: 100%;
  background-color: $light-blue;
}

.row.header-segment {
    height: 1000px;
    padding: 0%;
    background-color: $light-blue;

    .type-segment {
      display: inline;
      width: 50%;
      .type-animation-title {
        font-size: 130%;
      }
      .type-animation-emailbox {
        background-color: $email-box-color;
        border-top: 2px solid $email-border;
        border-left: 2px solid $email-border;
      }
    }

    .page-segment {

      .web-border-top
      {
        text-align: right;
        img {
          width: 75%;
        }
      }
      .splash-screen
      {
        text-align: right;
        img {
          width:75%;
        }
      }
      .web-border-bottom
      {
        text-align: right;
        img {
          width: 75%;
        }
      }
    }
  }
